<?xml version="1.0" encoding="utf-8"?>
<packages>
    <package id="winscp" />
    <package id="zoom" />
    <package id="7zip" />
    <package id="teraterm" />
    <package id="postman" />
    <package id="typora" />
    <package id="evernote" />
    <package id="slack" />
    <package id="" />
    <package id="docker-desktop" />
    <package id="googlechrome" />
    <package id="dbeaver" />
    <package id="intellijidea-ultimate" />
    <package id="everything" /> 
    <package id="1password" />
    <package id="vscode" />
    <package id="chocolateygui" />
</packages>
