<?xml version="1.0" encoding="utf-8"?>
<packages>
    <package id="yarn" />
    <package id="nodejs" />
    <package id="anaconda3" />
    <package id="winscp" />
    <package id="zoom" />
    <package id="7zip" />
    <package id="teraterm" />
    <package id="postman" />
    <package id="typora" />
    <package id="evernote" />
    <package id="slack" />
    <package id="git" />
    <package id="docker" />
    <package id="docker-desktop" />
    <package id="googlechrome" />
    <package id="dbeaver" />
    <package id="intellijidea-ultimate" />
    <package id="everything" /> 
    <package id="1password" />
    <package id="vscode" />
    <package id="drawio" />
    <package id="chocolateygui" />
    <package id="plantuml" />
    <package id="sqlite" />
    <package id="awscli" />
</packages>
